@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-color:#F6F6F6;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.heading h3{
  text-align:center;
  font-size:26px;
  margin-bottom:100px;
  color:#512D6D;
}
#result{
  display:none;
  justify-content:center;
  align-items:center;
}
.inputarea{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.inputarea input{
  width:250px;
  height:30px;
  margin:10px;
  outline:none;
  padding-left:15px;
  font-size:17px;
  border:2px solid #AE4CCF;
  border-radius:7px;
}
.inputarea label{
  font-size:23px;
}
#nextbtn{
  width:100px;
  height:35px;
  border:none;
  border-radius:8px;
  font-size:17px;
  cursor: pointer;
  background-color:#B983FF;
  color:#F6F6F6;
  font-family: 'Poppins', sans-serif;
  font-weight:800;
}
#calculatebtn{
  width:100px;
  height:35px;
  border:none;
  border-radius:8px;
  font-size:17px;
  cursor: pointer;
  background-color:#B983FF;
  color:#F6F6F6; 
  font-family: 'Poppins', sans-serif;
  font-weight:800;
}
#cashgivenarea{
  display:none;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin:10px;
}
#result table{
  border:2px solid #512D6D;
}
#result table td{
 width:60px;
 height:40px;
 border:2px solid #512D6D;
 text-align:center;
}
#result table th{
  font-size:18px;
  width:100px;
  text-align:center;
  border:2px solid #512D6D;
  height:40px;
}